<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>People among Dragons</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
    <app-header></app-header>
    <div class="main-wrapper">
        <div class="main-container">
            <div class="error-text">
                <img class="error-image" src="../../../assets/images/natural1.png" alt="NaturalOne">
                <h2>Seems like you roll a natural 1 on perception</h2>
                <p>You've been following a false clue and the place that you were looking for does not appear to exists.</p>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</body>
</html>