<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>People among Dragons</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
    <div class="main-container">
        <div class="error-text">
            <img class="error-image" src="../../../assets/images/natural1.png" alt="NaturalOne">
            <h2>Seems like you roll a natural 1 on persuasion</h2>
            <p>You try to negotiate with the guard that you are suppose to be here.</p>
            <p>Unfortunately for you he doesn't seem to be buying it.</p>
            <p>You are not allowed in this castle.</p>
        </div>
    </div>
</body>
</html>