.main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 100%;
}
  
.main-container {
    text-align: center;
    background-color: white;
    max-width: 450px; 
}

.main-text {
    color: red; 
}

.send-button {
    border: 1px black solid;
    border-radius: 6px;
    padding: 5px;
    background-color: rgb(9, 161, 216);
    color: white;
    cursor: pointer;
    width: 90%;
    margin-right: 5px;
}

.secondary-button {
    border: 1px black solid;
    border-radius: 6px;
    padding: 5px;
    background-color: white;
    color: black;
    cursor: pointer;
    width: 90%;
}