.flex-container {
    display: flex;
}

html, body {
    height: 100%;
    margin: 0;
}

.separator-line {
    border-top: 8px solid #a10505;
    border-radius: 5px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
