<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>People among Dragons</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <app-header></app-header>
  <div *ngIf="_isLoading" class="spinner-overlay">
    <div class="spinner-wrapper">
      <div>
        <mat-spinner></mat-spinner>
        <p class="loading-text">Loading campaigns...</p>
      </div>
    </div>
  </div>
  <div class="campaign-header">
    <h2 class="campaign-header-text">My Campaigns</h2>
    <button class="create-button" (click)="createCampaign()">Create Campaign</button>
  </div>
  <hr class="separator-line">
  <div class="campaign-list">
    <div class="campaign-wrapper">
        <div class="campaign-container" *ngFor="let campaign of _campaigns">
            <div class="campaign-container-header">
                <img class="campaign-image" [src]="campaign._campaignImage" alt="CampaignImage">
                <h3>{{campaign._campaignName}}</h3>
            </div>
            <div class="campaign-container-footer">
                <button class="campaign-buttons" (click)="openCampaign()">VIEW</button>
                <button class="campaign-buttons" (click)="editCampaign(campaign._campaignId)">EDIT</button>
                <button class="campaign-buttons">COPY</button>
                <button class="campaign-important-buttons" (click)="deleteCampaign(campaign._campaignId)">DELETE</button>
            </div>
        </div>
    </div>
  </div>
  <app-footer></app-footer>
</body>
</html>
