.main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px; 
    height: 90%;
    width: 100%;
}
  
.main-container {
    border: 1px black solid;
    text-align: center;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    max-width: 450px; 
}
  
.form-container {
    text-align: start; 
}
  
.main-text {
    color: red; 
}
  
.form-input {
    border: 0.5px solid black;
    border-radius: 6px;
    padding: 15px;
    width: 90%; 
}
  
.form-label {
    padding: 5px; 
}

.send-button {
    border: 1px black solid;
    border-radius: 6px;
    padding: 5px;
    background-color: rgb(9, 161, 216);
    color: white;
    cursor: pointer;
    width: 90%;
    margin-right: 5px;
}

.secondary-button {
    border: 1px black solid;
    border-radius: 6px;
    padding: 5px;
    background-color: white;
    color: black;
    cursor: pointer;
    width: 90%;
}
  
.bolded-text {
    font-weight: bold; 
}
  
.error-text {
    color: red;
} 