<main class="main-wrapper">
    <section class="main-section">
        <div class="main-container">
            <h3 class="main-text">People among Dragons</h3>
            <div class="form-container">
                <label class="bolded-text form-label" for="fcampaign">Campaign name<span class="main-text">*</span></label>
                <input [(ngModel)]="_currentCampaign._campaignName" type="text" id="fcampaign" name="fcampaign" placeholder="Type your campaign name..." required>
                <span class="error-text" *ngIf="_showNameError">The campaign name must be filled</span>
                <br>
                <br>
                <mat-select placeholder="Search for users..." (selectionChange)="addUserToCampaign($event.value)" #singleSelect>
                    <mat-option *ngFor="let appUser of _appUsers" [value]="appUser">
                        {{appUser._userEmail}}
                    </mat-option>
                </mat-select>
                <span class="error-text" *ngIf="_showUserError">The selected user is already part of the campaign</span>
                <span class="error-text" *ngIf="_showEmptyUserError">There needs to be at least one user per campaign</span>
            </div>
            <hr class="separator-line">
            <div class="text-container">
                <div class="user-list" *ngFor="let campaignUser of _campaignUsers">
                    <p class="user-text">{{campaignUser._userName}} {{campaignUser._userSurname}} ({{campaignUser._userEmail}})</p>
                    <mat-select class="role-select" placeholder="Select user role..." [(value)]="campaignUser._campaignRole" #singleSelect>
                        <mat-option *ngFor="let campaignRole of _campaignRoles" [value]="campaignRole._id">
                            {{campaignRole._roleName}}
                        </mat-option>
                    </mat-select>
                    <button class="delete-button" (click)="deleteUser(campaignUser._userId)">Delete</button>
                </div>               
            </div>
            <div class="button-container">
                <button *ngIf="!campaignData.isEdit" mat-button class="send-button" (click)="saveCampaign()">Create</button>
                <button *ngIf="campaignData.isEdit" mat-button class="send-button" (click)="saveCampaign()">Update</button>
                <button mat-button class="secondary-button" (click)="closeDialog()">Close</button>
            </div>
        </div>
    </section>
</main>