<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>People among Dragons</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
    <app-header></app-header>
    <div *ngIf="_isLoading" class="spinner-overlay">
        <div class="spinner-wrapper">
            <div>
                <mat-spinner></mat-spinner>
                <p class="loading-text">Loading publication data...</p>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</body>
</html>