<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>People among Dragons</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
    <app-header></app-header>
    <div class="main-wrapper">
        <div *ngIf="_isLoading" class="spinner-overlay">
            <div class="spinner-wrapper">
                <div>
                    <mat-spinner></mat-spinner>
                    <p class="loading-text">Loading publication data...</p>
                </div>
            </div>
        </div>
        <div class="main-container">
            <div class="publication-header">
              <h2 class="publication-header-text">{{_publication._publicationTitle}}</h2>
              <img class="publication-image" [src]="_publication._publicationImage" alt="PublicationImage">
            </div>
            <br>
            <hr class="separator-line">
            <div class="publication-text">
              <p>{{_publication._publicationText}}</p>
            </div>
            <div class="publication-footer">
                <p class="footer-text">Created by: {{_publication._userName}} ({{_publication._userEmail}}) - {{formatDateAsString(_publication._publicationDate)}}</p>
            </div>
        </div>
    </div>
    <div class="comments-wrapper">
        <div class="comment-text-area-container">
            <h2>Leave a comment</h2>
            <hr class="separator-line">
            <textarea class="comment-textarea" maxlength="1000"></textarea>
            <button class="send-button">Send</button>
        </div>
        <hr class="separator-line">
        <div class="comments-container">
            <div class="comment-element"  *ngFor="let comment of _shownComments">
                <h2 class="publication-header-text">{{comment._userName}} ({{comment._userEmail}})</h2>
                <hr class="separator-line">
                <div class="comment-contents">
                    <div class="comment-text">
                        <p>{{comment._commentText}}</p>
                    </div>
                    <p class="footer-text">{{formatDateAsString(comment._creationDate)}}</p>
                </div>
            </div>
            <div class="comment-footer">
                <button class="comment-button" (click)="previousPage()">Previous page</button>
                <p>Page {{_currentCommentPage + 1}}/{{_commentPages}}</p>
                <button class="comment-button" (click)="nextPage()">Next page</button>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</body>
</html>