<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>People among Dragons</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <app-header></app-header>
  <div class="main-wrapper">
    <div *ngIf="_isLoading" class="spinner-overlay">
      <div class="spinner-wrapper">
        <div>
          <mat-spinner></mat-spinner>
          <p class="loading-text">Loading messages...</p>
        </div>
      </div>
    </div>
    <!--Screen with the inbox of messages-->
    <div class="inbox-container">
      <div class="inbox-buttons">
        <button class="send-button" (click)="redactNewMessage()">New message</button>
        <mat-button-toggle-group [value]="_selectedInbox" (change)="filterMessageData($event.value)">
          <mat-button-toggle value="inbox">Inbox</mat-button-toggle>
          <mat-button-toggle value="sent">Sent</mat-button-toggle>
        </mat-button-toggle-group>
        <button class="send-button" (click)="loadMessagesData()">Refresh</button>
      </div>
      <div class="inbox-elements">
        <div [ngClass]="inboxElement._messageId === _selectedMessageId ? 'selected-inbox-element' : 'inbox-element'" *ngFor="let inboxElement of _inboxElements" (click)="openMessage(inboxElement)">
          <div>
            <p *ngIf="_selectedInbox=='inbox'" class="inbox-user-text">{{formatMessageInbox(inboxElement._sendingUserName, 5)}}</p>
            <p *ngIf="_selectedInbox=='sent'" class="inbox-user-text">{{formatMessageInbox(inboxElement._receivingUserName, 5)}}</p>
            <p class="inbox-message-title">{{formatMessageInbox(inboxElement._messageTitle, 10)}}</p>
            <p class="inbox-message-text">{{formatMessageInbox(inboxElement._messageText, 25)}}</p>
          </div>
          <div>
            <p class="inbox-date-text">{{formatDateAsString(inboxElement._creationDate)}}</p>
          </div>    
        </div>
      </div>
    </div>
    <!--Empty screen for when no message is selected-->
    <div *ngIf="!_isSendingMessage && _selectedMessageId==-1" class="main-container">
    </div>
    <!--Screen for reading an already sent message-->
    <div *ngIf="!_isSendingMessage && _selectedMessageId!=-1" class="main-container">
      <div class="message-header">
        <h2 class="message-header-text">{{_selectedMessage._messageTitle}}</h2>
        <button *ngIf="_selectedInbox=='inbox'" class="send-button" (click)="redactNewMessage(_selectedMessage._sendingUserId, _selectedMessage._messageTitle)">Reply</button>
        <button *ngIf="_selectedInbox=='sent'" class="send-button" (click)="redactNewMessage(_selectedMessage._receivingUserId, _selectedMessage._messageTitle)">Reply</button>
      </div>
      <div class="sending-data">
        <h3 class="message-header-text">From: {{_selectedMessage._sendingUserName}} {{_selectedMessage._sendingUserSurname}} ({{_selectedMessage._sendingUserEmail}})</h3>
        <h3 class="message-header-text">To: {{_selectedMessage._receivingUserName}} {{_selectedMessage._receivingUserSurname}} ({{_selectedMessage._receivingUserEmail}})</h3>
      </div>
      <br>
      <hr class="separator-line">
      <div class="message-text">
        <p>{{_selectedMessage._messageText}}</p>
      </div>
    </div>
    <!--Form for sending a new message-->
    <div *ngIf="_isSendingMessage" class="main-container">
      <div class="form-container">
        <div class="message-header-sending">
          <label class="bolded-text form-label" for="ftitle">Message Title:<span class="main-text">*</span></label>
          <input [(ngModel)]="_sendingMessage._messageTitle" type="text" id="ftitle" name="ftitle" placeholder="Type the message title..." required>
          <span class="error-text" *ngIf="_showTitleError">The message title must be filled</span>
        </div>
        <br>
        <div class="sending-data-send">
          <label class="bolded-text form-label" for="freceiving">To:<span class="main-text">*</span></label>
          <mat-select class="user-select" placeholder="Search for users..." [(value)]="_receivingUserId" (selectionChange)="selectReceivingUser($event.value)" #singleSelect>
              <mat-option *ngFor="let appUser of _appUsers" [value]="appUser._userId">
                  {{appUser._userEmail}}
              </mat-option>
          </mat-select>
          <span class="error-text" *ngIf="_showReceivingError">The message must have a receiving user</span>
        </div>
      </div>
      <hr class="separator-line">
      <div class="message-text">
        <textarea class="sending-text" [(ngModel)]="_sendingMessage._messageText"></textarea>
        <span class="error-text" *ngIf="_showMessageError">The message cannot be empty</span>
      </div>
      <button class="send-button" (click)="sendMessage()">Send</button>
      <button class="secondary-button" (click)="cancelNewMessage()">Close</button>
    </div>
  </div>
  <app-footer></app-footer>
</body>
</html>
