<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>People among Dragons</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
    <app-header></app-header>
    <div *ngIf="!_showNotAllowedScreen" class="main-wrapper">
        <div *ngIf="_isLoading" class="spinner-overlay">
            <div class="spinner-wrapper">
                <div>
                    <mat-spinner></mat-spinner>
                    <p class="loading-text">Creating publication...</p>
                </div>
            </div>
        </div>
        <div class="main-container">
            <div class="publication-header">
                <label class="bolded-text form-label" for="ftitle">Publication title:<span class="main-text">*</span></label>
                <input [(ngModel)]="_newPublication._publicationTitle" type="text" id="ftitle" name="ftitle" placeholder="Type the publication title..." required>
                <span class="error-text" *ngIf="_showTitleError">The publication title must be filled</span>
            </div>
            <hr class="separator-line">
            <div class="publication-text">
                <label class="bolded-text form-label" for="fmessage">Publication message:<span class="main-text">*</span></label>
                <textarea class="publication-textarea" [(ngModel)]="_newPublication._publicationText"></textarea>
                <span class="error-text" *ngIf="_showMessageError">The publication text cannot be empty</span>
            </div>
            <div class="publication-footer">
                <button class="send-button" (click)="createPublication()">Create</button>
            </div>
        </div>
    </div>
    <div *ngIf="_showNotAllowedScreen" class="main-wrapper">
        <app-not-allowed-view></app-not-allowed-view>
      </div>
    <app-footer></app-footer>
</body>
</html>