<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>People among Dragons</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <app-header></app-header>
  <div class="main-wrapper">
    <div class="main-container">
      <div class="publication-wrapper">
        <div class="publication-container">
          <div class="publication-container-header">
            <img class="publication-image" src="../../../assets/images/login-screen.jpg" alt="Campaign1">
            <h3>Test campaign</h3>
          </div>
          <div class="publication-content">
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum rhoncus mi a erat cursus malesuada. Nullam vel ligula nisi. Maecenas dictum aliquet dui nec lacinia. Aenean posuere elit tellus, nec aliquam urna porttitor sit amet. Fusce vitae dolor dictum, cursus eros vel, luctus nulla. Fusce suscipit justo vel sem fermentum convallis. In elementum nisi ac placerat ullamcorper. Nullam eget faucibus est. Morbi luctus lectus dolor, quis cursus tortor finibus sed. Phasellus aliquam dictum facilisis. Nulla facilisis enim sit amet ante dapibus, vel vestibulum sem venenatis. Nam commodo mauris nec laoreet feugiat.</h3>
          </div>
        </div>   
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</body>
</html>
